/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  /* max-width: 1140px;
  margin: auto; */
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef8;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.categories-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.categories-buttons button {
  background-color: transparent;
  border-radius: 60px;
  border: 1px solid #1d6154;
  padding: 8px 10px;
  margin-right: 10px;
  color: #1d6154;
  text-align: center;
  font-family: "Syne";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter-btn:hover {
  background-color: #1d6154;
  color: #fff;
  cursor: pointer;
}

.filter-btn.button-active {
  /* Styles pour le bouton actif */
  background-color: #1d6154;
  color: #fff;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.photo-add > * {
  text-align: center;
}
.photo-add h2 {
  margin-bottom: 20px;
}
.photo-add form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.photo-add input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.photo-add select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.photo-add label {
  margin: 2em 0 1em 0;
}
.photo-add textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.forgetpassword {
  text-decoration: none;
  text-align: center;
  color: #3d3d3d;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  padding-bottom: 355px;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Page de login */

.headerLogin {
  margin: 50px;
}

.header-loginpage {
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logininput {
  width: 400px;
}

.hidden {
  display: none !important;
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.modal.show {
  display: block;
}

.modal .modal-wrapper {
  background-color: white;
  border: 2px solid #1d6154;
  position: absolute;
  padding: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  /* width: 60%; */
  width: 800px;
}

.modal-wrapper hr {
  margin-bottom: 20px;
  margin-top: 50px;
  width: 100%;
}

.btn-primary {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  text-align: center;
  border-radius: 60px;
  border: none;
  padding: 10px 49px;
}

.btn-valider {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background: #a7a7a7;
  margin: 2em auto;
  text-align: center;
  border-radius: 60px;
  border: none;
  padding: 10px 80px;
}

.modal .content {
  position: relative;
  font-size: 26px;
  text-align: center;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 800px;
}

.modal .btn-close-modal {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
  font-size: 24px;
}

.modal .btn-back {
  position: absolute;
  left: 0;
  top: 0;
  background: none;
  border: none;
  font-size: 24px;
}

.modal figure {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.modal-works {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  /* justify-items: center; */
  width: 100%;
}

.modal figure img {
  width: 100%;
}

.modal figure figcaption {
  font-size: 12px;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-delete-gallery {
  background: transparent;
  border: none;
  color: #d65353;
  font-size: 14px;
  font-family: "Syne";
}

.admin {
  background-color: #000;
  width: 100%;
  height: 59px;
}

.btn-admin-mode-edition {
  color: #fff;
  font-family: "Work Sans";
  font-size: 16px;
  padding-right: 21px;
}

.btn-publish {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border-radius: 60px;
  padding: 11px 23px;
  font-family: "Work Sans";
  height: 20%;
}

.admin-wrapper {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

.btn-show-modal {
  color: #000;
  font-family: "Work Sans";
  font-size: 14px;
  background: transparent;
  border: none;
  padding-left: 31px;
  cursor: pointer;
}

.mesprojets {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-left: 41%;
}

.logout-btn button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.margintop {
  margin-top: 92px;
}

.main-container {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef8;
}

.trashicon {
  position: absolute;
  padding-top: 5px;
  padding-right: 3px;
  padding-left: 2px;
  font-size: 12px;
  top: 8px;
  right: 5px;
  color: white;
  background-color: #000;
  width: 17px;
  height: 17px;
  border-radius: 3px;
}

figure i {
  height: 11px;
  width: 9px;
}

/* Modal ajout photo */

.modal-works-ajoutphoto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
  /* height: 169px; */
  border-radius: 3px;
  background: #e8f1f6;
  padding: 20px 0;
}

.modal-works-ajoutphoto svg {
  width: 58px;
  height: 58px;
  padding-bottom: 15px;
}

.modal-works-ajoutphoto button {
  width: 173px;
  height: 36px;
  border-radius: 50px;
  background: #cbd6dc;
  border: none;
  color: #306685;
  text-align: center;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
}

.modal-works-ajoutphoto p {
  color: #444;
  text-align: center;
  font-family: Work Sans;
  font-size: 10px;
}

.btn-back {
  position: absolute;
  left: 10;
  top: 10;
}

.ctaAjoutBouton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 173px;
  height: 36px;
  border-radius: 50px;
  background: #cbd6dc;
  border: none;
  color: #306685;
  text-align: center;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
}

#contact .file {
  margin: 0;
}

#contact .ctaAjoutBouton {
  margin: 0 0 5px 0;
}

.formPhotoAdd {
  width: 100%;
  display: flex;
  justify-content: center;
}

.preview-image {
  height: 193px;
}

.contact {
  display: none;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}

.modal-title-form {
  margin-bottom: -20px;
  margin-top: 75px;
}

.modal-title {
  margin-bottom: 46px;
}
